.root {
    color: rgb(var(--venia-text-alt));
    display: block;
}

.root:active,
.root:focus-within {
    color: rgb(var(--venia-text));
    font-weight: 600;
}

.label {
    align-items: center;
    display: inline-flex;
    font-size: 0.8125rem;
    line-height: 1rem;
    padding: 0.125rem;
}
